/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1205px) {	
	
}
@media only screen and (max-width : 1170px) {
	
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	
}

@media only screen and (max-width : 768px) {	
	.header {
		height: 570px;
	}
	.header__logo {
	    width: 100px;
	    height: 100px;
	}
	.header__title {
	    font-size: 2.07em;
	    line-height: 1.1;
	    margin: 17px 0 25px;
	}
	.header__wrapper {
		width: 325px;
		padding: 20px 25px 55px;
	}
	.header__text {
	    font-size: 1.29em;
	}
	a.button {
		font-size: 1.43em;
	}
	.header__button {
	    width: 100%;
	   
	    margin-top: 135px;
	}

	.registration__wrapper {
	     width: 100%; 
	    max-width: 325px;
	    padding: 50px 25px 40px;
	}
	a.button {
		width: 100% !important;
	}
}

/* Small Devices, Tablets */
@media only screen and (max-width : 600px) {
	
	.header {
	    background-position: 70% 50%;
	}
}
@media only screen and (max-width : 728px) {
	
}
@media only screen and (max-width : 640px) {
	
}
/* Extra Small Devices, Phones */
@media only screen and (max-width : 500px) {	
	
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 400px) {
	
}

/*==========  Mobile First Method  ==========*/
@media screen and (max-width: 300px) {
    .cancelbtn, .signupbtn {
       width: 100%;
    }
}

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
	.menu {
        display:block!important
    }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}